#Python 数据库连接-Mysql篇

##1、Mysql中的准备工作

1、打开WorkBench；
2、新建test数据库；
3、执行以下代码创建表：
CREATE TABLE test.t1 (  id int(11),  name varchar(10),  birthday datetime)
4、执行以下代码在表中插入数据：
insert into test.t1 values (1,'a','1996-02-29 20:30:50');
insert into test.t1 values (2,'b','1996-02-29 20:31:13');
insert into test.t1 values (3,'c','1996-02-29 20:32:34');
insert into test.t1 values (4,'d','1996-02-29 20:33:34');
5、执行以下语句，进行查询
Select id,name,birthday from test.t1

##2、Python的准备工作

安装pymysql包

在CMD界面输入：conda install pymysql 或pip install pymysql

##3、在Python中进行SQL操作

连接数据库：

In [6]:
import pymysql
conn=None
conn = pymysql.connect(host='localhost', user='root', passwd='3523047',db='test',charset="utf8")

建立连接，执行查询操作：

In [7]:
cur = conn.cursor()
cur.execute('Select id,name,birthday from test.t1') 
for id,name,birthday in cur.fetchall():
    print id,name,birthday

1 a 1996-02-29 20:30:50
2 b 1996-02-29 20:31:13
3 c 1996-02-29 20:32:34
4 d 1996-02-29 20:33:34

关闭数据库：

In [5]:
conn.close() # 使用后随手关闭数据库，好习惯！

另外一种方法

In [15]:
from sqlalchemy import create_engine
import pandas as pd

In [14]:
mysql_engine=create_engine("mysql+pymysql://root:3523047@localhost:3306/test")

In [19]:
mydata=pd.read_sql('Select id,name,birthday from test.t1',mysql_engine)
print mydata

   id name            birthday
0   1    a 1996-02-29 20:30:50
1   2    b 1996-02-29 20:31:13
2   3    c 1996-02-29 20:32:34
3   4    d 1996-02-29 20:33:34

In [20]:
mydata.set_index('id')

   name            birthday
id
1     a 1996-02-29 20:30:50
2     b 1996-02-29 20:31:13
3     c 1996-02-29 20:32:34
4     d 1996-02-29 20:33:34

此种方法推荐，直接得到pandas下的dataframe